.pagination {
    display: flex;
    gap: 10px;
}

.pagination-item {
}

.pagination-item a {
    font-family: sans-serif;
    text-decoration: none;
    color: mediumblue;
}

.pi-active {
    color: tomato !important;
}
