* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========== NAVIGATION ========== */

header {
    position: relative;
    background-color: tomato;
    font-size: 0;
    overflow: auto;
    white-space: nowrap;
}

header .wrapper {
    display: flex;
}

.nav {
    position: relative;
    padding: 20px;
    font-family: monospace;
    font-size: 15px;
    color: black;
}

.nav * {
    text-decoration: none;
    color: inherit;
}

.nav:hover {
    background-color: #A62D17;
    color: white;
}

.nav-right {
    margin-left: auto;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 1080px;
}

.container {
    margin: 0 auto;
    width: 720px;
    padding: 35px 0px;
}

/* ========== LOGIN FORM ========== */

.auth-form-title {
    margin-bottom: 15px;
    justify-content: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    font-family: sans-serif;
    width: 300px;
}

.auth-form-row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 15px;
}

.auth-form-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.auth-form-column-rem {
    flex-direction: row;
    gap: 5px;
    flex: 1 1 0px;
    white-space: nowrap;
}

.auth-form-column-login {
    flex-direction: row;
    justify-content: center;
    flex: 0 1 0px;
}

.auth-form-column-login input {
    width: 80px;
}

.auth-form-error-message {
    color: red;
    font-size: 14px;
}

/* ========== TABLE ========== */

.management-table {
    width: 100%;
    border-collapse: collapse;
}

.management-table-row {

}

.management-table-row:nth-child(odd) {
    background: whitesmoke;
}

.management-table-row:nth-child(even) {
    background-color: gainsboro;
    color: white;
}

.management-table-column {
    padding: 0 5px;
    background-color: inherit;
    border: none;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

.table-column-title {
    text-align: center;
    font-family: sans-serif;
}

.management-button {
    color: black;
    background-color: white;
}

.error-message-block {
    height: 35px;
    line-height: 35px;
}

@media only screen and (max-width: 1080px) {
    .wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 720px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 310px) {
    .auth-form {
        width: 100%;
    }
}