<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="links">
        <link rel="stylesheet" th:href="@{/css/fragments/articles_list.css}">
    </th:block>
</head>
<body>
    <div id="articles-list" th:fragment="articles-list (articles)">
        <div class="article-summary" th:each="article : ${articles}">
            <div class="as-item">
                <h3 class="as-title"><a th:href="@{/article/{id}(id=${article.id})}" th:utext="${article.title}"></a></h3>
                <p class="as-created-at" th:text="${#dates.format(article.createdAt, 'dd.MM.yyyy')}"></p>
            </div>
            <hr />
        </div>
    </div>
</body>
</html>