<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:fragment="links">
        <link rel="stylesheet" th:href="@{/css/fragments/auth_form.css}" />
    </th:block>
</head>
<body>
<form class="auth-form" th:fragment="login-form" th:action="@{/login}" method="post">
    <div class="auth-form-row auth-form-title">
        <h2>Login Form</h2>
    </div>
    <div class="auth-form-row">
        <div class="auth-form-column">
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" placeholder="admin" />
            <div th:if="${incorrectUsernameOrPassword}" class="auth-form-error-message">
                Incorrect username or password.
            </div>
        </div>
    </div>
    <div class="auth-form-row">
        <div class="auth-form-column">
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" placeholder="admin" />
        </div>
    </div>
    <div class="auth-form-row">
        <div class="auth-form-column auth-form-column-rem">
            <label for="checkbox">Remember me:</label>
            <input id="checkbox" type="checkbox" name="remember-me" />
        </div>
        <div class="auth-form-column auth-form-column-login">
            <input type="submit" value="Log in" />
        </div>
    </div>
</form>
</body>
</html>