.article-body {
    padding: 5px;
}

.article-title {
}

.article-action {
}

.article-action-menu {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.article-action a {
    text-decoration: none;
    color: mediumblue;
}

.article-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.article-paragraph {
    font-family: sans-serif;
    margin: 10px 0;
    text-align: justify;
}

.article-footer {
    text-align: right;
}