* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 1080px;
}

.container {
    margin: 0 auto;
    width: 720px;
    padding: 35px 0px;
}

.hidden {
    display: none;
}

.centered-text {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.button-as-link {
    background: none;
    border: none;
    padding: 0;
    color: mediumblue;
    cursor: pointer;
}

@media only screen and (max-width: 1080px) {
    .wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 720px) {
    .container {
        width: 100%;
    }
}