.page-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.page-navigation--item {
    display: flex;
    padding: 10px 0;
    font-family: sans-serif;
}