<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <h3>
        Available URLs:
        <a title="You should be authenticated" href="/user">/user</a>,
        <a title="You should be an admin" href="/admin">/admin</a>,
        <a title="Log in to the website" href="/login">/login</a>,
        <a title="Create an account" href="/register">/register</a>,
        <a title="Log out from the website" href="/logout">/logout</a>
    </h3>
</body>
</html>